/* body {
  background-color: black;
  color: greenyellow;
  padding: 50px;
  border: 2px solid red;
  border-radius: 30px;
  margin: 50px;
}

.box {
  background-color: black;
  color: yellowgreen;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px;
  transform: rotate(45deg);
} */

/* div {
  border: 5px solid #000;
  width: 300px;
  height: 300px;
  margin: 10px;
} */

p {
  font-size: 50px;
  color: orange;
  background-color: #000;
  padding: 20px;
  border: 2px solid orange;
  margin: 10px;
}

.speacial-p-tag {
  color: red;
  background-color: pink;
  border: 0;
}

#my-p-tag {
  background-color: aqua;
  color: #000;
  border: 2px solid #000;
}

/* After this the chatgpt code will start */

#my-box {
  background-color: maroon;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
